@import "tailwindcss";

@layer utilities {
    .font-dm {
        font-family: var(--font-dm-sans), sans-serif;
    }
    .font-jakarta {
        font-family: var(--font-jakarta), sans-serif;
    }
}

html {
    scroll-behavior: smooth;
}

.right-adaptive {
    right: clamp(40px, 20vw, 340px);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;     /* Firefox */
}

/* обычные точки */
.swiper-pagination-bullet {
    background: #000 !important; /* черные */
    opacity: 0.3; /* неактивные более бледные */
}

/* активная точка */
.swiper-pagination-bullet-active {
    background: #000 !important; /* активная тоже черная */
    opacity: 1;
}

.bg-header-mobile {
    background-image: url('/images/header-bg-mobile.png');
    background-size: cover;
    background-position: center;
}



